.btn-default,
.btn-primary {
  text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px inset, rgba(0, 0, 0, 0.0745098) 0px 1px 1px;
  box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px inset, rgba(0, 0, 0, 0.0745098) 0px 1px 1px;
}

.btn-default {
  background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(224, 224, 224) 100%);
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  border-color: rgb(204, 204, 204);
  background-repeat: repeat no-repeat;
  background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
  color: #333;
  background-color: #fff;
}

.btn-primary {
  background-image: linear-gradient(rgb(124, 5, 0) 0px, rgb(63, 3, 0) 100%);
  border-color: rgb(53, 2, 0);
  background-repeat: repeat no-repeat;
  background-image: -webkit-linear-gradient(top,#7c0500 0,#3f0300 100%);
  background-image: linear-gradient(to bottom,#7c0500 0,#3f0300 100%);
  background-repeat: repeat-x;
  border-color: #350200;
  color: #fff;
  background-color: #7c0500;
  border-color: #620400;
}

.panel {
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0px;
  margin: 0;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

a {
  background-position: 0px 0px;
  background-repeat: initial initial;
  background: 0 0;
  color: #7c0500;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0px;
  margin: .67em 0;
}

small {
  font-size: 80%;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
}

button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0px;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
  overflow: visible;
}

button,
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  line-height: normal;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0px;
}

@media print {
  * {
    text-shadow: none !important;
    color: rgb(0, 0, 0) !important;
    box-shadow: none !important;
    background-position: 0px 0px !important;
    background-repeat: initial initial !important;
    text-shadow: none!important;
    color: #000!important;
    background: 0 0!important;
    box-shadow: none!important;
  }

  a {
    text-decoration: underline;
  }

  a[href]::after {
    content: ' (', attr(href), ')';
  }

  a[href^="#"]::after {
    content: '';
  }

  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h3 {
    page-break-after: avoid;
  }
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  color: #333;
  background-color: #fff;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: rgb(124, 5, 0);
  text-decoration: none;
  background: 0 0;
  color: #7c0500;
}

h1,
h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 small {
  font-weight: 400;
  line-height: 1;
  color: rgb(153, 153, 153);
}

h1,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 small {
  font-size: 65%;
}

h1 {
  font-size: 36px;
  font-size: 2em;
  margin: .67em 0;
}

h3 {
  font-size: 24px;
}

p {
  margin: 0px 0px 10px;
  margin: 0 0 10px;
}

small {
  font-size: 85%;
  font-size: 80%;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: rgb(199, 37, 78);
  background-color: rgb(249, 242, 244);
  white-space: nowrap;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.col-xs-12 {
  float: left;
  width: 100%;
}

.col-xs-12 {
  width: 100%;
}

input[type="checkbox"] {
  margin: 4px 0px 0px;
  line-height: normal;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  background-image: none;
  border: 1px solid rgb(204, 204, 204);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  margin-bottom: 0px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-user-select: none;
  margin-bottom: 0;
  border-radius: 4px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-default {
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  border-color: rgb(204, 204, 204);
  background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
  color: #333;
  background-color: #fff;
}

.btn-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(124, 5, 0);
  border-color: rgb(98, 4, 0);
  background-image: -webkit-linear-gradient(top,#7c0500 0,#3f0300 100%);
  background-image: linear-gradient(to bottom,#7c0500 0,#3f0300 100%);
  background-repeat: repeat-x;
  border-color: #350200;
  color: #fff;
  background-color: #7c0500;
  border-color: #620400;
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-left: 0;
  padding-right: 0;
}

input[type="submit"].btn-block {
  width: 100%;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0px;
  margin-bottom: 0;
}

.input-group .form-control,
.input-group-btn {
  display: table-cell;
}

.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
  font-size: 0;
}

.input-group .form-control:first-child {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.input-group-btn:last-child > .btn {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.input-group-btn {
  position: relative;
  font-size: 0px;
  white-space: nowrap;
  font-size: 0;
}

.input-group-btn > .btn {
  position: relative;
}

.input-group-btn:last-child > .btn {
  margin-left: -1px;
}

.nav {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-tabs {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(221, 221, 221);
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.nav-tabs > li.active > a {
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent;
  cursor: default;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.panel {
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
  padding: 15px;
}

.panel-default {
  border-color: rgb(221, 221, 221);
  border-color: #ddd;
}

.nav::after,
.nav::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
  content: ' ';
  display: table;
}

.nav::after,
.panel-body::after,
.row::after {
  clear: both;
}

#login {
  max-width: 400px;
  margin: 25px auto;
}

#login h1 {
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(238, 238, 238);
  padding-bottom: 30px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

#login h1 small {
  display: block;
  font-size: 60%;
}

.panel.panel-login {
  border-top-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}